.ConnectToMetamask {
  font-family: sans-serif;
  text-align: center;
}
.aframebox {
  height: 500px;
  width: 100%;
}
body {
    background-color: #ffffff; /* White background color */
}
p {
    background-color: #ffffff; /* White background color */
}
.display-5 {
    padding-top: 20px;
    background-image: linear-gradient(to bottom, #000000, #ffffff);
    /* You can adjust the direction and colors as needed */
    /* For a horizontal gradient, use 'to right' instead of 'to bottom' */
    /* You can also add additional color stops or change the colors */
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-jumbotron {
    background-color: #ffffff; /* White background color */
}
.large-icon {
    font-size: 2rem; /* Adjust the size as needed */
    color: #ffde59; /* Adjust the color as needed */
}
/* CSS for the hover effect */
.large-icon:hover {
    color: #ff914d; /* Change to red on hover (adjust the color as needed) */
}
