.ConnectToMetamask {
  font-family: sans-serif;
  text-align: center;
}
.aframebox {
  height: 500px;
  width: 100%;
}
body {
    background-color: #ffffff; /* White background color */
}
.large-icon {
    font-size: 2rem; /* Adjust the size as needed */
    color: #00de59; /* Adjust the color as needed */
}
/* CSS for the hover effect */
.large-icon:hover {
    color: #ff914d; /* Change to red on hover (adjust the color as needed) */
}
